[tools]
atuin = 'latest'
kubectl = 'latest'
lazygit = 'latest'
neovim = 'latest'
ripgrep = 'latest'
starship = 'latest'
tmux = 'latest'
uv = 'latest'

[tasks._sync]
quiet = true
hide = true
usage = '''
arg "<target>"
arg "<source>"
'''
run = '''
#!/usr/bin/env zsh
tmp=$(mktemp)
git diff {{ usage.target }} <(curl -s {{ usage.source }} | tee $tmp) || mv $tmp {{ usage.target }}
'''

[tasks.sync]
run = [
  'mkdir -p ~/.config/tmux ~/.config/nvim',
  'mise run _sync ~/.config/mise.toml https://raw.githubusercontent.com/timabrmsn/config/refs/heads/main/mise.toml',
  'mise run _sync ~/.zsh_conf https://raw.githubusercontent.com/timabrmsn/config/refs/heads/main/conf_zsh',
  'mise run _sync ~/.config/tmux/tmux.conf https://raw.githubusercontent.com/timabrmsn/config/refs/heads/main/conf_tmux',
  'mise run _sync ~/.config/nvim/init.lua https://raw.githubusercontent.com/timabrmsn/config/refs/heads/main/conf_nvim',
  'grep zsh_conf ~/.zshrc >/dev/null || echo ". ~/.zsh_conf" >> ~/.zshrc',

]

