[tools]
atuin = 'latest'
kubectl = 'latest'
lazygit = 'latest'
neovim = 'latest'
ripgrep = 'latest'
starship = 'latest'
tmux = 'latest'
uv = 'latest'

[tasks._sync]
quiet = true
hide = true
usage = '''
arg "<target>"
arg "<source>"
'''
run = '''
#!/usr/bin/env zsh
tmp=$(mktemp)
git diff {{ usage.target }} <(curl -s {{ usage.source }} | tee $tmp) || mv $tmp {{ usage.target }}
'''

[tasks.sync]
run = [
  'mkdir -p ~/.config/tmux ~/.config/nvim ~/.config/zsh',
  'mise run _sync ~/.config/mise.toml https://abramson.dev/mise.toml',
  'mise run _sync ~/.config/zsh/zsh.conf https://abramson.dev/zsh.conf',
  'mise run _sync ~/.config/tmux/tmux.conf https://abramson.dev/tmux.conf',
  'mise run _sync ~/.config/nvim/init.lua https://abramson.dev/init.lua',
  'mise run _sync ~/.aerospace.toml https://abramson.dev/aerospace.toml',
  'grep zsh\.conf ~/.zshrc >/dev/null || echo ". ~/.config/zsh/zsh.conf" >> ~/.zshrc',

]

