[tools]
atuin = 'latest'
curl = 'latest'
kubectl = 'latest'
neovim = 'latest'
ripgrep = 'latest'
starship = 'latest'
tmux = 'latest'
uv = 'latest'

[tasks.setup]
run = [
  '''echo 'eval "$(starship init zsh)"' >> ~/.zshrc'''
]

[tasks.sync]
run = 'curl https://raw.githubusercontent.com/timabrmsn/config/refs/heads/main/mise.toml -o ~/.config/mise.toml'
