[tools]
atuin = 'latest'
kubectl = 'latest'
lazygit = 'latest'
neovim = 'latest'
ripgrep = 'latest'
starship = 'latest'
tmux = 'latest'
uv = 'latest'


[tasks.sync]
run = [
  'mkdir -p ~/.config/tmux ~/.config/nvim',
  'curl https://abramson.dev/mise.toml -o ~/.config/mise.toml',
  'curl https://abramson.dev/conf_zsh -o ~/.zsh_conf',
  'curl https://abramson.dev/conf_tmux -o ~/.config/tmux/tmux.conf',
  'curl https://abramson.dev/conf_nvim -o ~/.config/nvim/init.lua',
  'grep zsh_conf ~/.zshrc >/dev/null || echo ". ~/.zsh_conf" >> ~/.zshrc',
]
