[tools]
atuin = 'latest'
kubectl = 'latest'
neovim = 'latest'
ripgrep = 'latest'
starship = 'latest'
tmux = 'latest'
uv = 'latest'

[tasks.setup]
run = [
  '''grep 'starship init' ~/.zshrc > /dev/null || echo 'eval "$(starship init zsh)"' >> ~/.zshrc''',
  '''grep 'atuin init' ~/.zshrc > /dev/null || echo 'eval "$(atuin init zsh)"' >> ~/.zshrc''',
]

[tasks.sync]
run = 'curl https://raw.githubusercontent.com/timabrmsn/config/refs/heads/main/mise.toml -o ~/.config/mise.toml'
